.container{

    display: flex;
    justify-content: center;

}
.formProductos{
    display: block;
    margin: 30px;
    padding: 30px;
    border: rgb(179, 177, 180) solid 1px;
    background-color: rgba(241, 229, 213, 0.356);
    border-radius: 20px ;
    width: 500px;
}

label{
    display: block;
    margin-top: 10px;
}

input,select,textarea{
    width: 100%;
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
    border: rgb(149, 113, 167) solid 1px;
}
input:hover{
    border: rgba(146, 250, 10, 0.658) solid 1px;
}